.navbar {
    display: flex;
    justify-content: center; /* Centers content horizontally */
}

.navbar-brand {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* Takes full width to allow centering */
    text-align: center; /* Ensures text stays centered */
}


.gradient-text {
    background: linear-gradient(45deg, #e81cff, #40c9ff);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    font-size: 24px;
    transition: background 0.5s ease-in-out;

  }
  
  .gradient-text:hover {
    background: linear-gradient(45deg, #e81cff, #40c9ff, #ff8c00);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  